node_modules
.git
.gitignore
*.md
.vscode
.idea
coverage
.env
.env.local
mobile
# Ne pas exclure backend car Dockerfile.backend en a besoin
# backend
frontend/build
frontend/.next
frontend/node_modules
backend/dist
backend/coverage
backend/node_modules

